<h1>ID: {{id}}</h1>
<h1>Name: {{name}}</h1>
<h1>Age: {{age}}</h1>
<h1><u>Address</u></h1>
Street: {{address.streetNo}}<br>
City: {{address.city}}<br>
State: {{address.state}}<br>
<h2><u>Hobbies</u></h2>
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ul>