Enter Id: <input type="text" name="id" [(ngModel)]="person.id"><br>
Enter Name: <input type="text" name="name" [ngModel]="person.name"><br>
<button (click)="onClick()">Click Me!</button>

<h1>ID: {{person.id}}</h1>
<h1>Name: {{person.name}}</h1>
<h1>Age: {{person.age}}</h1>
<h1><u>Address</u></h1>
Street: {{person.address.streetNo}}<br>
City: {{person.address.city}}<br>
State: {{person.address.state}}<br>
<h2><u>Hobbies</u></h2>
<ul>
    <li *ngFor="let hobby of person.hobbies">{{hobby}}</li>
</ul>