<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<div class="container mt-5">
    <h1 class="text-center mb-5">Employee Details</h1>
    <table class="table table-sm table-hover table-striped table-bordered">
        <tr class="text-center">
            <th>empId</th>
            <th>empName</th>
            <th>salary</th>
            <th>Department</th>
            <th>gender</th>
            <th>doj</th>
            <th>country</th>
            <th>emailId</th>
            <th>password</th>
            <th>Experience</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr class="text-center" *ngFor="let emp of employees">
            <td>{{ emp.empId }}</td>
            <td>{{ emp.empName | genderPipe:emp.gender}}</td>
            <td>{{ emp.salary |currency:'INR'}}</td>
            <td>{{emp.department.deptName | uppercase}}</td>
            <td>{{ emp.gender}}</td>
            <td>{{ emp.doj | date:'dd-MMM-yyyy'}}</td>
            <td>{{ emp.country }}</td>
            <td>{{ emp.emailId }}</td>
            <td>{{ emp.password }}</td>
            <td>{{emp.doj | expPipe}}</td>
            <td><button (click)="editEmp(emp)"><span class="glyphicon glyphicon-pencil"></span></button></td>
            <td><button (click)="deleteEmp(emp)"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
    </table>
</div>



<div class="modal fade" id="empModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div style="margin-left: 130px;">
                    <div style="width: 300px;" class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                        <input type="text" class="form-control" placeholder="Enter EmpId" name="empId"
                            [(ngModel)]="employee.empId" #empId="ngModel" ngModel required>
                    </div> 
                    <p class="text-danger" *ngIf="empId.errors?.['required'] && empId.touched">*Enter empId</p> 
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control" placeholder="Enter EmpName" name="empName"
                            [(ngModel)]="employee.empName" #empName="ngModel" ngModel required>
                    </div>
                    <p class="text-danger" *ngIf="empName.errors?.['required'] && empName.touched">*Enter empName</p>
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-menu-down"></span></span>
                        <select name="department" class="form-control" placeholder="Select Department"
                            [(ngModel)]="employee.department.deptId" #department="ngModel" ngModel required>
                            <option value="" disabled selected>Select Department</option>
                            <option *ngFor="let dept of departments" value="{{dept.deptId}}">{{dept.deptName}}</option>
                        </select>
                    </div>
                    <p class="text-danger" *ngIf="department.errors?.['required'] && department.touched">*Select
                        department</p>
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                        <input type="text" class="form-control" placeholder="Enter Salary" name="salary"
                            [(ngModel)]="employee.salary" #salary="ngModel" ngModel required>
                    </div>
                    <p class="text-danger" *ngIf="salary.errors?.['required'] && salary.touched">*Enter salary</p>
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-menu-down"></span></span>
                        <select name="gender" class="form-control" [(ngModel)]="employee.gender" #gender="ngModel"
                            ngModel required>
                            <option value="" disabled selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <p class="text-danger" *ngIf="gender.errors?.['required'] && gender.touched">*Select gender</p>
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input type="date" class="form-control" name="doj" [(ngModel)]="employee.doj" #doj="ngModel"
                            ngModel required>
                    </div>
                    <p class="text-danger" *ngIf="doj.errors?.['required'] && doj.touched">*Enter doj</p>
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-menu-down"></span></span>
                        <select name="country" class="form-control" [(ngModel)]="employee.country" #country="ngModel"
                            ngModel required>
                            <option value="" disabled selected>Select Country</option>
                            <option *ngFor="let country of countries" value="{{country.cca3}}">{{country.name.common}}
                            </option>
                        </select>
                    </div>
                    <p class="text-danger" *ngIf="country.errors?.['required'] && country.touched">*Select country</p>
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                        <input type="number" class="form-control" placeholder="Enter MobileNo." name="mobile"
                            #mobile="ngModel" ngModel required pattern="^[5-9]\d{9}">
                    </div>
                    <p class="text-danger" *ngIf="mobile.errors?.['required'] && mobile.touched">*Enter mobile no.</p>
                    <p class="text-danger" *ngIf="mobile.errors?.['pattern'] && mobile.dirty">*Invalid mobile no.</p>
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="email" class="form-control" placeholder="Enter Email-Id" name="emailId"
                            [(ngModel)]="employee.emailId" #emailId="ngModel" ngModel required
                            pattern="^[\w\.-]+@[A-Za-z\d\.-]+\.[A-Za-z]{2,}(?:\.[a-zA-Z]{2,})?$">
                    </div>
                    <p class="text-danger" *ngIf="emailId.errors?.['required'] && emailId.touched">*Enter Email-ID</p>
                    <p class="text-danger" *ngIf="emailId.errors?.['pattern'] && emailId.dirty">*Invalid email format
                    </p>
                    <div style="width: 300px;" class="input-group mt-3">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" class="form-control" placeholder="Enter Password" name="password"
                            [(ngModel)]="employee.password" #password="ngModel" ngModel required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,}$">
                    </div>
                    <p class="text-danger" *ngIf="password.errors?.['required'] && password.touched">*Enter password</p>
                    <p class="text-danger" *ngIf="password.errors?.['pattern'] && password.dirty">*Invalid password</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" (click)="updateEmp()" class="btn btn-primary" data-dismiss="modal">Update Employee</button>
            </div>
        </div>
    </div>
</div>
