<h3 align="right">Welcome {{emailId}}!</h3>

<div align="center">
    <h1>Show Employee By Id</h1>
    <label>Enter EmpId: </label>
    <input type="number" name="empid" [(ngModel)]="empId"><br><br>
    <button (click)="getEmp()">GetEmp</button><br><br>
    <div align="center" *ngIf="employee">
        <table border="1">
            <tr align="center">
                <th>empId</th>
                <th>empName</th>
                <th>salary</th>
                <th>gender</th>
                <th>doj</th>
                <th>country</th>
                <th>emailId</th>
                <th>password</th>
            </tr>
            <tr align="center">
                <td>{{ employee.empId }}</td>
                <td>{{ employee.empName  }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.doj }}</td>
                <td>{{ employee.country }}</td>
                <td>{{ employee.emailId }}</td>
                <td>{{ employee.password }}</td>
            </tr>
        </table>
    </div>
</div>