<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<body>
    <div class="main">
        <div class="title">Login Page</div>
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
            <div class="name input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="emailId" placeholder="Enter emailId" #emailId="ngModel" ngModel required>
            </div>
            <p style="color: red;" *ngIf="emailId.errors?.['required'] && emailId.touched">*Enter Email-Id</p>
            <div class="pass input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" name="password" placeholder="Enter password" #password="ngModel" ngModel required>
            </div>
            <p style="color: red;" *ngIf="password.errors?.['required'] && password.touched">*Enter password</p>
            <button>Login</button>
        </form>
    </div>
</body>





<!-- <body>
    <div class="main">
        <div class="title">Login Page</div>
        <div class="name">
            <label>Enter EmailId:</label><br>
            <input type="text" name="emailID" [(ngModel)]="emailId">
        </div>
        <div class="pass">
            <label>Enter password:</label><br>
            <input type="password" name="password" [(ngModel)]="password">
        </div>
        <button (click)="submit()">Login</button>
    </div>
</body> -->