body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}
.title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    color: blue;
}
label{
    font-size: 18px;
    color: blue;
}
/* input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
} */
.name, .pass{
    margin-bottom: 10px;
}
button{
    border: none;
    outline: none;
    background-color: blue;
    color:aliceblue;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin-left: 85px;
}