<!-- <app-test></app-test> -->
<!-- <app-test2></app-test2> -->
<!-- <app-showemployee></app-showemployee> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-showemployee></app-showemployee> -->
<!-- <app-show-emp-by-id></app-show-emp-by-id> -->
<!-- <app-products></app-products> -->
<!-- <app-cart></app-cart> -->
<!-- <app-header></app-header>
<router-outlet></router-outlet> -->
<!-- <app-demo></app-demo> -->
<app-recaptcha></app-recaptcha>