<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<div class="container" style="width: 600px;">
    <h1 class="text-center mb-5">Employee Registration</h1>
    <form #registerform="ngForm" (ngSubmit)="registerSubmit(registerform.value)" novalidate>
        <div style="margin-left: 130px;">
            <div style="width: 300px;" class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                <input type="text" class="form-control" placeholder="Enter EmpId" name="empId"
                    [(ngModel)]="employee.empId" #empId="ngModel" ngModel required>
            </div>
            <p class="text-danger" *ngIf="empId.errors?.['required'] && empId.touched">*Enter empId</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" placeholder="Enter EmpName" name="empName"
                    [(ngModel)]="employee.empName" #empName="ngModel" ngModel required>
            </div>
            <p class="text-danger" *ngIf="empName.errors?.['required'] && empName.touched">*Enter empName</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-menu-down"></span></span>
                <select name="department" class="form-control" placeholder="Select Department"
                    [(ngModel)]="employee.department.deptId" #department="ngModel" ngModel required>
                    <option value="" disabled selected>Select Department</option>
                    <option *ngFor="let dept of departments" value="{{dept.deptId}}">{{dept.deptName}}</option>
                </select>
            </div>
            <p class="text-danger" *ngIf="department.errors?.['required'] && department.touched">*Select department</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                <input type="text" class="form-control" placeholder="Enter Salary" name="salary"
                    [(ngModel)]="employee.salary" #salary="ngModel" ngModel required>
            </div>
            <p class="text-danger" *ngIf="salary.errors?.['required'] && salary.touched">*Enter salary</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-menu-down"></span></span>
                <select name="gender" class="form-control" [(ngModel)]="employee.gender" #gender="ngModel" ngModel
                    required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <p class="text-danger" *ngIf="gender.errors?.['required'] && gender.touched">*Select gender</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input type="date" class="form-control" name="doj" [(ngModel)]="employee.doj" #doj="ngModel" ngModel
                    required>
            </div>
            <p class="text-danger" *ngIf="doj.errors?.['required'] && doj.touched">*Enter doj</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-menu-down"></span></span>
                <select name="country" class="form-control" [(ngModel)]="employee.country" #country="ngModel" ngModel
                    required>
                    <option value="" disabled selected>Select Country</option>
                    <option *ngFor="let country of countries" value="{{country.cca3}}">{{country.name.common}}</option>
                </select>
            </div>
            <p class="text-danger" *ngIf="country.errors?.['required'] && country.touched">*Select country</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                <input type="number" class="form-control" placeholder="Enter MobileNo." name="mobile" #mobile="ngModel"
                    ngModel required pattern="^[5-9]\d{9}">
            </div>
            <p class="text-danger" *ngIf="mobile.errors?.['required'] && mobile.touched">*Enter mobile no.</p>
            <p class="text-danger" *ngIf="mobile.errors?.['pattern'] && mobile.dirty">*Invalid mobile no.</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input type="email" class="form-control" placeholder="Enter Email-Id" name="emailId"
                    [(ngModel)]="employee.emailId" #emailId="ngModel" ngModel required
                    pattern="^[\w\.-]+@[A-Za-z\d\.-]+\.[A-Za-z]{2,}(?:\.[a-zA-Z]{2,})?$">
            </div>
            <p class="text-danger" *ngIf="emailId.errors?.['required'] && emailId.touched">*Enter Email-ID</p>
            <p class="text-danger" *ngIf="emailId.errors?.['pattern'] && emailId.dirty">*Invalid email format</p>
            <div style="width: 300px;" class="input-group mt-3">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" placeholder="Enter Password" name="password"
                    [(ngModel)]="employee.password" #password="ngModel" ngModel required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,}$">
            </div>
            <p class="text-danger" *ngIf="password.errors?.['required'] && password.touched">*Enter password</p>
            <p class="text-danger" *ngIf="password.errors?.['pattern'] && password.dirty">*Invalid password</p>
            <!-- <re-captcha [siteKey]="siteKey" (resolved)="handleCaptchaResolved($event)"></re-captcha> -->

            <button class="btn btn-danger mt-3">Register</button>
        </div>
    </form>
</div>



















<!-- <h1 class="text-center">Employee Registration</h1>
<div align="center">
    <table>
        <tbody>
            <tr>
                <td align="right"> EmpId </td>
                <td align="left">  <input type="text" name="empId" [(ngModel)]="employee.empId" /> </td>
            </tr>
            <tr>
                <td align="right"> EmpName </td>
                <td align="left">  <input type="text" name="empName" [(ngModel)]="employee.empName" /> </td>
            </tr>
            <tr>
                <td align="right"> Salary </td>
                <td align="left">  <input type="text" name="salary" [(ngModel)]="employee.salary" /> </td>
            </tr>
            <tr>
                <td align="right"> Gender </td>
                <td align="left">  
                    <select name="gender" [(ngModel)]="employee.gender">
                        <option value="" selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"> Date of Join </td>
                <td align="left">  <input type="date" name="doj" [(ngModel)]="employee.doj" /> </td>
            </tr>
            <tr>
                <td align="right"> Country </td>
                <td align="left">  
                    <select name="country" [(ngModel)]="employee.country">
                        <option value="" selected>Select Country</option>
                        <option value="IND">India</option>
                        <option value="CHI">China</option>
                        <option value="USA">USA</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"> Email-ID </td>
                <td align="left">  <input type="text" name="emailId" [(ngModel)]="employee.emailId" /> </td>
            </tr>
            <tr>
                <td align="right"> Password </td>
                <td align="left">  <input type="password" name="password" [(ngModel)]="employee.password" /> </td>
            </tr>
            <tr>
                <td align="right"> Department </td>
                <td align="left">  
                    <select name="department" [(ngModel)]="employee.department">
                        <option value="" selected>Select Department</option>
                        <option value="IT">IT</option>
                        <option value="Sales">Sales</option>
                        <option value="Accounts">Accounts</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"></td>
                <td align="left">  <button (click)="register()">Register</button> </td>
            </tr>
        </tbody>
    </table>
</div> -->